.react-flow__controls-button {
  width: 40px;
  height: 40px;
  background: #171717;
  color: white;
  border-bottom: 1px solid #525252;
}

.react-flow__controls-button:nth-of-type(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.react-flow__controls-button:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.react-flow__controls-button:hover {
  background: #334155;
}

.react-flow__controls-button svg {
  fill: white;
}
