.map {
  border-radius: 1rem;
  background: hsl(0, 0%, 2%);
}

.map-base-map {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
